.venv
venv
log_checker_cli/build
log_checker_cli/src/check_log/__pycache__
log_checker_cli/src/check_log.egg-info
log_checker_cli/*.json
log_checker_cli/*.csv
log_checker_cli/*.html
__pycache__
node_modules
log_checker_cli/build